.general{
    width: 80%;
    height: 800px;
    margin-top: 10%;
}

.general{
    display: flex;
    flex-direction: column;
}

.BC-father{
    display: flex;
    height: 65%;
}

.BFDE-father{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.A{
    background: darkslategrey;
    height: 30%;
}


.B{
    background: gold;
    width: 100%;
    height: 50%;
}

.CDE-father{
    display: flex;
    flex-direction: row;
    height: 50%;
}
.CDE{
    width: 100%;
    height: auto;
}

.C {
    width: 33.3%;
    background: darkgreen;
}
.D {
    width: 33.3%;
    background: white;

}
.E {
    width: 33.3%;
    background: peachpuff;
}

.F {
    background: burlywood;
    width: 100%;
}

.HKL-father {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    height: 50%;
}

.H {
    width: 33.3%;
    background: teal;
}

.K {
    width: 33.3%;
    background: pink;
}

.L {
    width: 33.3%;
    background: red;
}




.main {
    width: 350px;
    height: 350px;

}

.A2 {
    width: 100%;
    background: darkgreen;
    height: 35%;
}

.BC2 {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.B2 {
    width: 80%;
    background: teal;
margin-right: 3px;
    margin-top: 2px
}

.C2 {
    width: 20%;
    background: darkslategrey;
    margin-top: 2px;
}
